# Explorative analysis of the cost of healcare related to longevity

### 1. Import data "Years lived with disability v.s. Health expenditure per capita

The data is take from <a href="https://ourworldindata.org/life-expectancy#life-expectancy-and-healthy-life-expectancy">the study</a> in Our World in Data

In [32]:
import pandas as pd
import numpy as np

In [33]:

global_data=pd.read_csv('years-lived-with-disability-vs-health-expenditure-per-capita.csv')

In [34]:
global_data.head(5)

,Entity,Code,Year,Years Lived With Disability (years),"Health expenditure per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder)
0,Afghanistan,AFG,1800,NaN,NaN,3280000.0
1,Afghanistan,AFG,1820,NaN,NaN,3280000.0
2,Afghanistan,AFG,1870,NaN,NaN,4207000.0
3,Afghanistan,AFG,1913,NaN,NaN,5730000.0
4,Afghanistan,AFG,1950,NaN,NaN,8151455.0

In [35]:
# Filter down the dataset focusing on 95-2014

healthcost_percapita_95to14=global_data.loc[(global_data['Year']>=1995) & (global_data['Year']<=2014)]
healthcost_percapita_95to14.head(10)

,Entity,Code,Year,Years Lived With Disability (years),"Health expenditure per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder)
49,Afghanistan,AFG,1995,7.77,NaN,19789880.0
50,Afghanistan,AFG,1996,7.78,NaN,20684982.0
51,Afghanistan,AFG,1997,7.69,NaN,21299350.0
52,Afghanistan,AFG,1998,7.48,NaN,21752257.0
53,Afghanistan,AFG,1999,7.73,NaN,22227543.0
54,Afghanistan,AFG,2000,7.74,NaN,22856302.0
55,Afghanistan,AFG,2001,7.68,NaN,23677385.0
56,Afghanistan,AFG,2002,7.77,75.983514,24639841.0
57,Afghanistan,AFG,2003,7.85,89.440178,25678639.0
58,Afghanistan,AFG,2004,7.90,87.520903,26693486.0

### 2. in order to see the weight of Healthcare expenditure per capita, import GDP per capita

In [36]:

gdp_per_capita=pd.read_csv("gdp-per-capita-.csv")
gdp_per_capita.head(5)

        Entity Code  Year  Real GDP per capita in US$
0  Afghanistan  AFG  1950                        2392
1  Afghanistan  AFG  1951                        2422
2  Afghanistan  AFG  1952                        2462
3  Afghanistan  AFG  1953                        2568
4  Afghanistan  AFG  1954                        2576

In [37]:
gdp_year95_14=gdp_per_capita.loc[(gdp_per_capita['Year']>=1995) & (gdp_per_capita['Year']<=2014)]
gdp_year95_14.shape

(3380, 4)

### 3. Concatination of the above tables

#### Create common column "YearCode" in order to contacinate two tables

In [38]:
healthcost_percapita_95to14['CountryYear'] = healthcost_percapita_95to14["Code"]+healthcost_percapita_95to14["Year"].map(str)
healthcost_percapita_95to14.head(5)

/Users/NamiMacAir/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Entity,Code,Year,Years Lived With Disability (years),"Health expenditure per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder),CountryYear
49,Afghanistan,AFG,1995,7.77,NaN,19789880.0,AFG1995
50,Afghanistan,AFG,1996,7.78,NaN,20684982.0,AFG1996
51,Afghanistan,AFG,1997,7.69,NaN,21299350.0,AFG1997
52,Afghanistan,AFG,1998,7.48,NaN,21752257.0,AFG1998
53,Afghanistan,AFG,1999,7.73,NaN,22227543.0,AFG1999

In [39]:
gdp_year95_14['CountryYear'] = gdp_year95_14["Code"]+gdp_year95_14["Year"].map(str)

/Users/NamiMacAir/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
gdp_year95_14.head(5)

         Entity Code  Year  Real GDP per capita in US$ CountryYear
45  Afghanistan  AFG  1995                        1101     AFG1995
46  Afghanistan  AFG  1996                        1008     AFG1996
47  Afghanistan  AFG  1997                         926     AFG1997
48  Afghanistan  AFG  1998                         856     AFG1998
49  Afghanistan  AFG  1999                         787     AFG1999

In [41]:
healthcarecost=pd.merge(healthcost_percapita_95to14, gdp_year95_14, how='left', on='CountryYear')
healthcarecost.head(5)

,Entity_x,Code_x,Year_x,Years Lived With Disability (years),"Health expenditure per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder),CountryYear,Entity_y,Code_y,Year_y,Real GDP per capita in US$
0,Afghanistan,AFG,1995,7.77,NaN,19789880.0,AFG1995,Afghanistan,AFG,1995.0,1101.0
1,Afghanistan,AFG,1996,7.78,NaN,20684982.0,AFG1996,Afghanistan,AFG,1996.0,1008.0
2,Afghanistan,AFG,1997,7.69,NaN,21299350.0,AFG1997,Afghanistan,AFG,1997.0,926.0
3,Afghanistan,AFG,1998,7.48,NaN,21752257.0,AFG1998,Afghanistan,AFG,1998.0,856.0
4,Afghanistan,AFG,1999,7.73,NaN,22227543.0,AFG1999,Afghanistan,AFG,1999.0,787.0

In [42]:
healthcarecost.columns=['Country','Code','Year','YearsWithDisability','HealthcarecostPerCapita','Population','CountryYear','country2','code2','year2','GDPperCapitaUSD']
healthcarecost.head(5)

,Country,Code,Year,YearsWithDisability,HealthcarecostPerCapita,Population,CountryYear,country2,code2,year2,GDPperCapitaUSD
0,Afghanistan,AFG,1995,7.77,NaN,19789880.0,AFG1995,Afghanistan,AFG,1995.0,1101.0
1,Afghanistan,AFG,1996,7.78,NaN,20684982.0,AFG1996,Afghanistan,AFG,1996.0,1008.0
2,Afghanistan,AFG,1997,7.69,NaN,21299350.0,AFG1997,Afghanistan,AFG,1997.0,926.0
3,Afghanistan,AFG,1998,7.48,NaN,21752257.0,AFG1998,Afghanistan,AFG,1998.0,856.0
4,Afghanistan,AFG,1999,7.73,NaN,22227543.0,AFG1999,Afghanistan,AFG,1999.0,787.0

In [43]:
healthcarecost=healthcarecost[['CountryYear','Country','Code','Year','YearsWithDisability','HealthcarecostPerCapita','Population','GDPperCapitaUSD']]
healthcarecost.head(5)

,CountryYear,Country,Code,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD
0,AFG1995,Afghanistan,AFG,1995,7.77,NaN,19789880.0,1101.0
1,AFG1996,Afghanistan,AFG,1996,7.78,NaN,20684982.0,1008.0
2,AFG1997,Afghanistan,AFG,1997,7.69,NaN,21299350.0,926.0
3,AFG1998,Afghanistan,AFG,1998,7.48,NaN,21752257.0,856.0
4,AFG1999,Afghanistan,AFG,1999,7.73,NaN,22227543.0,787.0

### 4. Create a new column showing Healthcare Cost per Capita devided by GDP per capita 
#### in order to see the Healthcare cost weight

In [44]:
healthcarecost['WeightofHealthcarecost'] = healthcarecost.apply(lambda row: (row.HealthcarecostPerCapita / row.GDPperCapitaUSD)*100, axis = 1)

In [45]:
healthcarecost.head(10)

,CountryYear,Country,Code,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD,WeightofHealthcarecost
0,AFG1995,Afghanistan,AFG,1995,7.77,NaN,19789880.0,1101.0,NaN
1,AFG1996,Afghanistan,AFG,1996,7.78,NaN,20684982.0,1008.0,NaN
2,AFG1997,Afghanistan,AFG,1997,7.69,NaN,21299350.0,926.0,NaN
3,AFG1998,Afghanistan,AFG,1998,7.48,NaN,21752257.0,856.0,NaN
4,AFG1999,Afghanistan,AFG,1999,7.73,NaN,22227543.0,787.0,NaN
5,AFG2000,Afghanistan,AFG,2000,7.74,NaN,22856302.0,735.0,NaN
6,AFG2001,Afghanistan,AFG,2001,7.68,NaN,23677385.0,692.0,NaN
7,AFG2002,Afghanistan,AFG,2002,7.77,75.983514,24639841.0,1088.0,6.983779
8,AFG2003,Afghanistan,AFG,2003,7.85,89.440178,25678639.0,1112.0,8.043181
9,AFG2004,Afghanistan,AFG,2004,7.90,87.520903,26693486.0,1107.0,7.906134

In [46]:
healthcarecost.describe()

,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD,WeightofHealthcarecost
count,63735.000000,29480.000000,39775.000000,4.239000e+03,62519.000000,39197.000000
mean,2004.494767,8.878243,832.931647,2.870884e+07,12509.337146,7.051318
std,5.763321,1.225515,1295.309015,1.187117e+08,5490.336300,11.444578
min,1995.000000,2.150000,5.943714,5.000000e+01,158.000000,0.170193
25%,1999.000000,7.920000,144.610450,4.424700e+05,9185.000000,1.265845
50%,2004.000000,8.800000,355.104242,4.911886e+06,11645.000000,3.096530
75%,2009.000000,10.010000,806.367812,1.706203e+07,14627.000000,6.595259
max,2014.000000,12.020000,9402.536971,1.359368e+09,155533.000000,122.624062

### 4. Subset the data of 2014 for all countries and visualise the Weight of Healthcare Cost

In [47]:
#Subset the data of 2014
year2014=healthcarecost.loc[(healthcarecost['Year']==2014)]
year2014.head(5)

,CountryYear,Country,Code,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD,WeightofHealthcarecost
19,AFG2014,Afghanistan,AFG,2014,8.49,166.516727,NaN,2022.0,8.235249
39,ALB2014,Albania,ALB,2014,9.84,614.535946,NaN,9808.0,6.265660
59,DZA2014,Algeria,DZA,2014,11.34,932.100284,NaN,13744.0,6.781871
79,ASM2014,American Samoa,ASM,2014,9.71,NaN,NaN,NaN,NaN
99,AND2014,Andorra,AND,2014,11.34,4272.523818,NaN,NaN,NaN

In [48]:
year2014.describe()

,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD,WeightofHealthcarecost
count,3161.0,1474.000000,1991.000000,0.0,3125.000000,1961.000000
mean,2014.0,9.353664,1271.467447,NaN,12626.053120,10.709828
std,0.0,1.116017,1745.820150,NaN,5680.391187,15.500106
min,2014.0,6.160000,24.956220,NaN,561.000000,0.491276
25%,2014.0,8.360000,233.468349,NaN,9185.000000,2.218232
50%,2014.0,9.305000,710.910707,NaN,11645.000000,6.005508
75%,2014.0,10.400000,1109.742605,NaN,14627.000000,10.213053
max,2014.0,11.970000,9402.536971,NaN,155069.000000,122.624062

In [49]:
year2014_modified=year2014[year2014.WeightofHealthcarecost.notnull()]
year2014_modified.head(10)

,CountryYear,Country,Code,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD,WeightofHealthcarecost
19,AFG2014,Afghanistan,AFG,2014,8.49,166.516727,NaN,2022.0,8.235249
39,ALB2014,Albania,ALB,2014,9.84,614.535946,NaN,9808.0,6.265660
59,DZA2014,Algeria,DZA,2014,11.34,932.100284,NaN,13744.0,6.781871
119,AGO2014,Angola,AGO,2014,8.21,239.010233,NaN,8673.0,2.755797
919,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,8651.0,9.398823
920,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,8404.0,9.675062
921,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,8583.0,9.473287
922,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,8394.0,9.686588
923,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,8802.0,9.237585
924,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,9583.0,8.484736

In [51]:
year2014_modified.drop_duplicates(subset='Country', keep='last', inplace=True)

/Users/NamiMacAir/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
year2014_modified.head(10)

,CountryYear,Country,Code,Year,YearsWithDisability,HealthcarecostPerCapita,Population,GDPperCapitaUSD,WeightofHealthcarecost
19,AFG2014,Afghanistan,AFG,2014,8.49,166.516727,NaN,2022.0,8.235249
39,ALB2014,Albania,ALB,2014,9.84,614.535946,NaN,9808.0,6.265660
59,DZA2014,Algeria,DZA,2014,11.34,932.100284,NaN,13744.0,6.781871
119,AGO2014,Angola,AGO,2014,8.21,239.010233,NaN,8673.0,2.755797
958,NaN,Arab World,NaN,2014,NaN,813.092212,NaN,14627.0,5.558845
978,ARG2014,Argentina,ARG,2014,9.48,1137.243423,NaN,19183.0,5.928392
998,ARM2014,Armenia,ARM,2014,9.38,362.125279,NaN,9735.0,3.719828
1837,AUS2014,Australia,AUS,2014,11.04,4357.260783,NaN,47867.0,9.102849
1857,AUT2014,Austria,AUT,2014,10.58,5038.881645,NaN,41338.0,12.189466
1877,AZE2014,Azerbaijan,AZE,2014,8.55,1047.300598,NaN,17439.0,6.005508