# Explorative analysis of the cost of healcare related to longevity

### 1. Import data "Years lived with disability v.s. Health expenditure per capita

The data is take from <a href="https://ourworldindata.org/life-expectancy#life-expectancy-and-healthy-life-expectancy">the study</a> in Our World in Data

In [6]:
import pandas as pd

In [7]:

global_data=pd.read_csv('years-lived-with-disability-vs-health-expenditure-per-capita.csv')

In [8]:
global_data.head(5)

,Entity,Code,Year,Years Lived With Disability (years),"Health expenditure per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder)
0,Afghanistan,AFG,1800,NaN,NaN,3280000.0
1,Afghanistan,AFG,1820,NaN,NaN,3280000.0
2,Afghanistan,AFG,1870,NaN,NaN,4207000.0
3,Afghanistan,AFG,1913,NaN,NaN,5730000.0
4,Afghanistan,AFG,1950,NaN,NaN,8151455.0

In [16]:
# Filter down the dataset focusing on 2014

year95_14=global_data.loc[(global_data['Year']>=1995) & (global_data['Year']<=2014)]
year95_14.head(10)

,Entity,Code,Year,Years Lived With Disability (years),"Health expenditure per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder)
49,Afghanistan,AFG,1995,7.77,NaN,19789880.0
50,Afghanistan,AFG,1996,7.78,NaN,20684982.0
51,Afghanistan,AFG,1997,7.69,NaN,21299350.0
52,Afghanistan,AFG,1998,7.48,NaN,21752257.0
53,Afghanistan,AFG,1999,7.73,NaN,22227543.0
54,Afghanistan,AFG,2000,7.74,NaN,22856302.0
55,Afghanistan,AFG,2001,7.68,NaN,23677385.0
56,Afghanistan,AFG,2002,7.77,75.983514,24639841.0
57,Afghanistan,AFG,2003,7.85,89.440178,25678639.0
58,Afghanistan,AFG,2004,7.90,87.520903,26693486.0

In [ ]:
#Next, in order to see the weight of Healthcare expenditure per capita, insert GDP per capital into the above table.